<% provide(:title,'ユーザ詳細') %>

<h1><%= @user.name %>のユーザページ</h1>

<% if @user.id == current_user.id %>
<button class="btn btn-outline-success me-2" type="button"><%= link_to '新規投稿', new_article_path(protocol: 'https') %></button>
<% end %>

<button class="btn btn-outline-success me-2" type="button"><%= link_to '夢日記一覧',article_user_path(@user,protocol: 'https') %></button>


