<% @tags.each do |tag| %>
    <% if tag.kind == kind %>
    <ul>
        <li>
            <%= tag.name %><br>
            引用数:<%= tag.citations %>
            <%= link_to '記事一覧:',tag_path(tag,protocol: 'https') %>
        </li>
    </ul>
    <% end %>
<% end %>