
<nav class="footer p-3 mt-5 bg-light text-center text-md-end">
  <div class="container-fluid">
  <small>
  by <a href="https://github.com/rikutkb">riku iwasaki</a>
  sourcecode is <a href ="https://github.com/rikutkb/dairy_dream">here</a>
  </small>
    <button class="btn btn-outline-success me-2" type="button"><%= link_to "About", about_path %></button>

  </div>
</nav>
