<footer class="footer">
  <small>
    by <a href="https://github.com/rikutkb">riku iwasaki</a>
    sourcecode is <a href ="https://github.com/rikutkb/dairy_dream">here</a>
  </small>
  <nav>
    <ul>
      <li><%= link_to "About",   root_url+'about' %></li>
    </ul>
  </nav>
</footer>