<footer class="footer">
  <small>
    by <a href="https://github.com/rikutkb">riku iwasaki</a>
    sourcecode is <a href ="https://github.com/rikutkb/dairy_dream">here</a>
  </small>
  <nav>
    <ul>
      <li><%= link_to "About",   '/about' %></li>
      <li><a href="http://news.railstutorial.org/">News</a></li>
    </ul>
  </nav>
</footer>