
<nav class="navbar fixed-bottom navbar-light bg-light">
<div class="container-fluid">
<small>
by <a href="https://github.com/rikutkb">riku iwasaki</a>
sourcecode is <a href ="https://github.com/rikutkb/dairy_dream">here</a>
</small>
  <button class="btn btn-outline-success me-2" type="button"><%= link_to "About", root_url+'about' %></button>

</div>
</nav>
